:root{
    --border_color: white;
}

body{
    margin: 0 auto;
    padding: 0px;
}

.d_flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    width: 100%;
    height: 100vh;
    /* background: grey; */
    background-image: url('https://scx2.b-cdn.net/gfx/news/hires/2019/galaxy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    float: left;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sun{
    width: 150px;
    height: 150px;
    background: red;
    float: left;
    border-radius: 50%;
}


.d1{
    width: 600px;
    height: 600px;
    border: 2px solid var(--border_color);
    float: left;
    border-radius: 50%;
    position: relative;

    animation-name: spin;
      animation-duration: 80s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
}

.d1::before{
    content: "";
    width: 30px;
    height: 30px;
    background: blue;
    float: left;
    position: absolute;
    left: -15px;
    border-radius: 50%;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/7e/The_Earth_seen_from_Apollo_17_with_white_background.jpg');
    background-size: 100% 100%;

      animation-name: spin;
      animation-duration: 15s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
}

.d2{
    width: 500px;
    height: 500px;
    border: 2px solid var(--border_color);
    float: left;
    border-radius: 50%;
    position: relative;

    animation-name: spin;
      animation-duration: 40s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
}


.d2::before{
    content: "";
    width: 30px;
    height: 30px;
    background: blue;
    float: left;
    position: absolute;
    left: -15px;
    border-radius: 50%;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/7e/The_Earth_seen_from_Apollo_17_with_white_background.jpg');
    background-size: 100% 100%;

      animation-name: spin;
      animation-duration: 25s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
}

.d3{
    width: 400px;
    height: 400px;
    border: 2px solid var(--border_color);
    float: left;
    border-radius: 50%;
}

.sun img{
    border-radius: 50%;
}




@keyframes spin {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}