
/* .red{
    width: 150px;
    height: 150px;
    background: red;
    float: left;
    position: relative;
   
}

.r1{
    width: 50px;
    height: 50px;
    background: yellow;
    float: left;
    position: absolute;
    left: 480px;
    top: 280px;
}

.r2{
    width: 40px;
    height: 40px;
    background: pink;
    float: left;
    position: absolute;
    left: 400px;
    top: 200px;

}


.blue{
    width: 150px;
    height: 150px;
    background: blue;
    float: left;
    position: relative;
}

.b1{
    width: 150px;
    height: 30px;
    background: purple;
    float: left;
    position: relative;
    left: 300px;
    top: 200px;
}

.section1{
    width: 100%;
    min-height: 470px;
    background: grey;
    float: left;
    position: relative;
}

.child_model{
    width: 150px;
    height: 150px;
    background: red;
    float: left;
    position: absolute;
    right: 0px;
    bottom: 0px;
} */

/* .mainMasterCard{
    width: 400px;
    height: 250px;
    background: grey;
    float: left;
    position: relative;
} */

/* .red{
    width: 200px;
    height: 200px;
    background: red;
    float: left;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: 50px;
}

.orange{
    width: 200px;
    height: 200px;
    background: orange;
    float: left;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    right: 50px;
    opacity: 0.7;
} */



.navbar_r{
    width: 100%;
    min-height: 70px;
    background: red;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
}

.navbar_r ul{
    padding: 0px;
    margin: 0px;
}

.navbar_r ul li{
    color: white;
    list-style-type: none;
    float: left;
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.navbar_r ul li:hover{
    background: blue;
    
}


.message{
    width: 100%;
    height: 360px;
    background: white;
    float: left;
}

.text_effect{
    width: 300px;
    height: 400px;
    background: rgb(16, 41, 227);
    float: left;
    position: fixed;
    z-index: 1;
    /* opacity: 0.5; */
    bottom: 0px;
    right: 0px;
    padding: 5px;
}